<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>591406178238-4tjgk5suqfkm2o3qing0iak072ucqrtd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.591406178238-4tjgk5suqfkm2o3qing0iak072ucqrtd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>591406178238-g90dvs1js5pr9r4d9d8qf66nr52u6igs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC3NhPTcO6zM0Z10SUMLLk-YP7TtEgHZJI</string>
	<key>GCM_SENDER_ID</key>
	<string>591406178238</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.deliveryApp</string>
	<key>PROJECT_ID</key>
	<string>delivery-app-73305</string>
	<key>STORAGE_BUCKET</key>
	<string>delivery-app-73305.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:591406178238:ios:52436f95b921e40d1da3ef</string>
	<key>DATABASE_URL</key>
	<string>https://delivery-app-73305-default-rtdb.firebaseio.com</string>
</dict>
</plist>